/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

:root {
  --pbg-color: #FFFFFF;
  --primary-background-color: #FFFFFF;
  --sbg-color: #F5F4FA;
  --secondary-background-color: #F5F4FA;
  --tbg-color: #2F303A;
  --third-background-color: #2F303A;
  --pt-color: #757575;
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --st-color: #212121;
  --third-text-color: #ffffff;
  --tt-color: #ffffff;
  --accent-color: #2196F3;
  --ft-color: rgba(255, 255, 255, 0.6);
  --bb-color: #ECECEC;
  --bbt-color:#EEEEEE;
  --icon-primary-fill: #AFB1B8;
  --icon-background-color: rgba(255, 255, 255, 0.1);
  --background-text-color: rgba(47, 48, 58, 0.8);
  --bgo-color: rgba(33, 150, 243, 0.9);
  --sb-color: #212121;
  --mb-color: rgba(33, 33, 33, 0.2);
  --bf-color: rgba(255, 255, 255, 0.3);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

a {
  list-style-type: none;
  text-decoration: none;
  font-style: normal;
}

address {
  text-decoration: none;
  font-style: normal;
}

li {
  text-decoration: none;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

body {
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto";
  font-size: 14px;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  max-width: 1200px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header {
  margin-top: 0;
  border-bottom: 1px solid var(--bb-color);
  background-color: var(--pbg-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header .header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .site-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.site-nav .logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 88px;
}
@media (min-width: 1200px) {
  .site-nav .logo {
    margin-right: 93px;
  }
}
.site-nav .accent-header {
  color: #000000;
}
.site-nav .list-force {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .site-nav .list-force {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.list {
  display: none;
}
@media screen and (min-width: 768px) {
  .list {
    display: block;
  }
}

.list-force :hover,
.list-force :focus {
  color: var(--accent-color);
}

.list-force,
.link {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}

.item {
  margin-right: 50px;
  padding: 0;
}

.item:last-child {
  margin-right: 0;
}

.link {
  position: relative;
  color: var(--st-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  width: 100%;
  height: 5px;
  background-color: var(--accent-color);
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.link.current {
  color: var(--accent-color);
}

.current::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.address-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
@media screen and (min-width: 768px) {
  .address-header {
    display: block;
  }
}
@media (max-width: 1200px) {
  .address-header .list-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}
.address-header .list-force {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.address-header .list-force :hover,
.address-header .list-force :focus {
  color: var(--accent-color);
}
.address-header .list-force .item {
  margin-right: 0;
  padding: 0;
}
@media (min-width: 1200px) {
  .address-header .list-force .item {
    margin-right: 30px;
  }
}
.address-header .list-force .item:last-child {
  margin-right: 0;
}
.address-header .list-force .link,
.address-header .mail-header, .address-header .tel {
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding-top: 32px;
  padding-bottom: 32px;
}
.address-header .list-force .mail-icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
  fill: var(--pt-color);
}
.address-header .mail-header:hover .mail-icon,
.address-header .mail-header:focus .mail-icon {
  fill: var(--accent-color);
}
.address-header .mail-header {
  color: var(--pt-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 10px;
}
@media (min-width: 1200px) {
  .address-header .mail-header {
    margin-bottom: 0;
  }
}
.address-header .list-force .tel-icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
  fill: var(--pt-color);
}
.address-header .tel:hover .tel-icon,
.address-header .tel:focus .tel-icon {
  fill: var(--accent-color);
}
.address-header .tel {
  color: var(--pt-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}

.mobile__menu {
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}
@media (min-width: 768px) {
  .mobile__menu {
    display: none;
  }
}
.mobile__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  padding: 0;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  display: block;
  position: relative;
  color: var(--secondary-text-color);
}
.mobile__link:hover, .mobile__link:focus {
  color: var(--accent-color);
}
.mobile__link.current {
  color: var(--accent-color);
}
.mobile__link::after {
  display: inline-block;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
  background-color: var(--accent-color);
}
.mobile__link:hover::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.mobile__link.current::after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}
.mobile__link, .mobile__mail, .mobile__tel {
  padding: 0;
  padding-bottom: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.mobile__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-align: start;
}
@media (min-width: 768px) {
  .mobile__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.mobile__list :hover, .mobile__list :focus {
  color: var(--accent-color);
}
.mobile__item {
  margin-right: 50px;
  padding: 0;
}
.mobile__item:last-child {
  margin-right: 0;
}
.mobile__address {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}
@media (min-width: 768px) {
  .mobile__address {
    display: block;
  }
}
.mobile__mail {
  margin-top: 302px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-text-color);
}
@media (min-width: 768px) {
  .mobile__mail {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.mobile__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: var(--primary-text-color);
}
@media (min-width: 768px) {
  .mobile__tel {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.mobile__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  padding-top: 32px;
}
.mobile__social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  padding-right: 10px;
  padding-left: 10px;
}
.mobile__open-menu {
  width: 40px;
  height: 40px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
@media (min-width: 768px) {
  .mobile__open-menu {
    display: none;
  }
}
.mobile__close-menu {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 21px;
  right: 15px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@media (min-width: 768px) {
  .mobile__close-menu {
    display: none;
  }
}
@media (min-width: 768px) {
  .mobile__close-menu {
    display: none;
  }
}
.mobile__open-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mobile__open-menu:hover .mobile__open-icon {
  opacity: 0;
}

.mobile__social-item + .mobile__social-item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--third-background-color);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mainbg.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-width: 480px) {
  .hero {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mainbg.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainbg.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    width: 100%;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mainbg@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainbg@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;
    height: 600px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/mainbg@3x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/mainbg@3x.jpg);
  }
}
.hero__title {
  font-weight: 900;
  font-size: 26px;
  font-size: 1.62;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  text-align: center;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    width: 100%;
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  min-height: 50px;
  font-family: "Roboto";
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--third-text-color);
  margin: 0 auto;
  display: block;
  cursor: pointer;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits {
  font-weight: 400;
  line-height: 24px;
}
@media screen and (min-width: 480px) {
  .benefits {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 768px) {
  .benefits {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 79px;
    padding-bottom: 79px;
  }
}
.benefits__container {
  padding-left: 0;
  padding-right: 0;
}
.benefits__list {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .benefits__list {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.benefits__item {
  margin-top: 0;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
}
@media screen and (min-width: 480px) {
  .benefits__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 15px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .benefits__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
.benefits__item:last-child {
  margin-bottom: 0;
}
.benefits__icon {
  display: block;
}
.benefits__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  border: 1px solid var(--secondary-background-color);
  border-radius: 4px;
  background-color: var(--secondary-background-color);
  margin-bottom: 30px;
}
.benefits__example {
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--secondary-text-color);
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 480px) {
  .benefits__example {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .benefits__example {
    width: 100%;
    text-align: start;
  }
}
@media screen and (min-width: 1200px) {
  .benefits__example {
    text-align: start;
  }
}
.benefits__description {
  font-weight: 400;
  line-height: 1.71;
  margin-bottom: 0;
}

.works {
  display: none;
}
@media screen and (min-width: 1200px) {
  .works {
    display: block;
  }
}
.works__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--secondary-text-color);
}
.works__list {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0;
}
.works__item {
  position: relative;
  padding: 0;
}
.works__img {
  display: block;
}
.works__overlay {
  position: absolute;
  -webkit-transform: translatey(-100%);
          transform: translatey(-100%);
  margin: 0;
  padding: 0;
  width: 370px;
  height: 70px;
  background-color: var(--background-text-color);
}
.works__text {
  margin: 0;
  width: 100%;
  height: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.team {
  background-color: var(--sbg-color);
}
.team__title {
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--st-color);
}
.team__list {
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 480px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
.team__card {
  padding: 0;
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 480px) {
  .team__card {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 15px;
    margin-bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
    max-width: 450px;
  }
}
@media screen and (min-width: 768px) {
  .team__card {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .team__card {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}
.team__overlay {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__card:last-child {
  margin-bottom: 0;
}
.team__img {
  display: block;
  width: 100%;
}
.team__job {
  padding: 30px 0;
  background-color: var(--pbg-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--st-color);
}
.team__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 0;
  padding: 0;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  padding-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
}
@media screen and (min-width: 1200px) {
  .social {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--pbg-color);
  border-radius: 50%;
  padding: 0;
  padding: 12px 12px;
  background-color: var(--pbg-color);
  cursor: pointer;
  width: 44px;
  height: 44px;
  position: relative;
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}
.social__link:hover, .social__link:focus {
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--third-text-color);
}
.social__link:hover:hover .social__icon, .social__link:hover:focus .social__icon, .social__link:focus:hover .social__icon, .social__link:focus:focus .social__icon {
  fill: var(--tt-color);
}
.social__icon {
  fill: var(--icon-primary-fill);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.customers {
  background-color: var(--primary-background-color);
}
.customers__container {
  padding-left: 0;
  padding-right: 0;
}
.customers__title {
  font-weight: 700;
  font-size: 36px;
  color: var(--secondary-text-color);
  line-height: 1.17;
  line-height: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.customers__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
}
@media screen and (min-width: 320px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 480px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .customers__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.customers__item {
  margin-top: 0;
  padding: 0;
}
@media screen and (min-width: 320px) {
  .customers__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 15px;
  }
}
@media screen and (min-width: 480px) {
  .customers__item {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}
@media screen and (min-width: 768px) {
  .customers__item {
    -ms-flex-preferred-size: 33.3%;
        flex-basis: 33.3%;
  }
}
@media screen and (min-width: 1200px) {
  .customers__item {
    -ms-flex-preferred-size: 16%;
        flex-basis: 16%;
  }
}
.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--icon-primary-fill);
  border-radius: 4px;
  background-color: var(--primary-background-color);
  padding: 0;
  height: 92px;
  cursor: pointer;
  -webkit-transition: fill, background-color, border 250ms var(--timing-function);
  transition: fill, background-color, border 250ms var(--timing-function);
}
.customers__link:hover, .customers__link:focus {
  border: 1px solid var(--accent-color);
}
.customers__link:hover .customers__icon, .customers__link:focus .customers__icon {
  fill: var(--accent-color);
}
.customers__icon {
  padding: 0;
  margin: 0;
  fill: var(--icon-primary-fill);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.footer {
  background-color: var(--tbg-color);
  padding: 0;
  padding-bottom: 60px;
  padding-top: 60px;
}
.footer .footer-container {
  text-align: center;
}
@media screen and (min-width: 480px) {
  .footer .footer-container {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .footer .footer-container {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    text-align: start;
    padding-left: 15px;
    padding-right: 15px;
  }
}
.footer .footer-link {
  margin-bottom: 8px;
}
@media screen and (min-width: 1200px) {
  .footer .footer-link {
    margin-bottom: 9px;
  }
}
.footer .footer-link:last-child {
  margin-bottom: 0;
}
.footer .footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  display: block;
  margin-bottom: 20px;
}
.footer .accent-footer {
  color: var(--tt-color);
}
.footer .address {
  margin-bottom: 0;
  line-height: 1.71;
  color: var(--tt-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.footer .address:hover {
  color: var(--accent-color);
}
.footer .address:focus {
  color: var(--accent-color);
}
.footer .list {
  margin: 0;
  padding-left: 0;
}
.footer .mail-footer {
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.71;
  color: var(--ft-color);
  text-decoration: none;
  font-style: normal;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.footer .mail-footer:hover {
  color: var(--accent-color);
}
.footer .mail-footer:focus {
  color: var(--accent-color);
}
.footer .tel-footer {
  line-height: 1.71;
  color: var(--ft-color);
  text-decoration: none;
  font-style: normal;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: var(--timing-function);
          transition-timing-function: var(--timing-function);
}
.footer .tel-footer:hover {
  color: var(--accent-color);
}
.footer .tel-footer:focus {
  color: var(--accent-color);
}

.social-link {
  margin: 0;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .social-link {
    padding-top: 0;
    padding-bottom: 0;
    text-align: start;
  }
}
.social-link .h3-foot {
  margin-bottom: 20px;
  margin-left: 70px;
  margin-right: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--tt-color);
}
@media screen and (min-width: 1200px) {
  .social-link .h3-foot {
    margin-top: 12px;
  }
}
.social-link .social-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
  margin: 0;
}
.social-link .social-foot .list {
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-link .social-foot .list:first-child {
  margin-left: 70px;
}
.social-link .social-foot .list:last-child {
  margin-right: 70px;
}
.social-link .social-foot .list .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid var(--tbg-color);
  padding: 0;
  padding: 12px 12px;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  position: relative;
  background: var(--icon-background-color);
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), border 250ms var(--timing-function);
}
.social-link .social-foot .list .button:hover,
.social-link .social-foot .list .button:focus {
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}
.social-link .social-foot .button-icon {
  fill: var(--tt-color);
}
.social-link .list-team .button:hover .button-icon,
.social-link .list-team .button:focus .button-icon {
  fill: var(--tt-color);
}

.subscribe .h3-foot-sign {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--tt-color);
}
@media screen and (min-width: 480px) {
  .subscribe .h3-foot-sign {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .subscribe .h3-foot-sign {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe .h3-foot-sign {
    text-align: start;
    margin-top: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe .form-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
@media screen and (min-width: 480px) {
  .subscribe .submit {
    text-align: center;
  }
}
@media screen and (min-width: 768px) {
  .subscribe .submit {
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe .submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.subscribe .form-submit input::-webkit-input-placeholder {
  color: var(--fours-text-color);
  font-family: "Roboto";
  font-style: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe .form-submit input::-moz-placeholder {
  color: var(--fours-text-color);
  font-family: "Roboto";
  font-style: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe .form-submit input:-ms-input-placeholder {
  color: var(--fours-text-color);
  font-family: "Roboto";
  font-style: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe .form-submit input::-ms-input-placeholder {
  color: var(--fours-text-color);
  font-family: "Roboto";
  font-style: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe .form-submit input::placeholder {
  color: var(--fours-text-color);
  font-family: "Roboto";
  font-style: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
}
.subscribe .form-submit input {
  min-width: 280px;
  min-height: 50px;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  border: 1px solid var(--bf-color);
  background-color: var(--tbg-color);
  margin: 0;
  padding-left: 16px;
  line-height: 1.25;
  color: var(--ft-color);
  display: inline;
}
@media screen and (min-width: 480px) {
  .subscribe .form-submit input {
    min-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe .form-submit input {
    margin-right: 12px;
    min-width: 358px;
  }
}
.subscribe .form-submit label {
  color: rgb(117, 117, 117);
}
.subscribe .button-send {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0;
  min-width: 200px;
  min-height: 50px;
  border-radius: 4px;
  font-family: "Roboto";
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--tt-color);
  margin: 0 auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  cursor: pointer;
  border: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .subscribe .button-send {
    margin-top: 0;
  }
}
.subscribe .button-send .text {
  padding-right: 10px;
}
.subscribe .button-send .icon {
  fill: var(--tt-color);
}

.control {
  padding-left: 0;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  list-style-type: none;
  color: var(--secondary-text-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 0;
}
.control__item {
  margin-right: 8px;
}
.control__item:last-child {
  margin-right: 0;
}
.control__button {
  font-family: "Roboto";
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  -webkit-transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), color 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function), background-color 250ms var(--timing-function), color 250ms var(--timing-function);
}
.control__button:hover, .control__button:focus {
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--third-text-color);
  cursor: pointer;
}
.control__button:focus {
  background-color: var(--accent-color);
  color: var(---third-text-color);
}
.control __button:focus {
  background-color: var(--accent-color);
  color: var(---third-text-color);
}

.gallery {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}
.gallery__item {
  border: 1px solid var(--bbt-clr);
  list-style-type: none;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery__item:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}
.gallery__item:hover .gallery__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.gallery :nth-child(3n) {
  margin-right: 0;
}
.gallery :nth-child(3n) {
  margin-right: 0;
}
.gallery :nth-child(n+7) {
  margin-bottom: 0;
}
.gallery__link {
  text-decoration: none;
}
.gallery__img {
  display: block;
}
.gallery__card {
  padding: 20px 24px;
  border-right: 1px solid var(--bbt-color);
  border-bottom: 1px solid var(--bbt-color);
  border-left: 1px solid var(--bbt-color);
}
.gallery__overlay {
  position: relative;
  overflow: hidden;
}
.gallery__text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background-color: var(--bgo-color);
  color: var(--third-text-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}
.gallery__projects {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-text-color);
  margin: 0;
  margin-bottom: 4px;
}
.gallery__description2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.9);
          transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  min-width: 100%;
  max-height: 609px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media (min-width: 480px) {
  .modal {
    min-width: 450px;
    max-height: 609px;
  }
}
@media (min-width: 768px) {
  .modal {
    min-width: 528px;
    max-height: 581px;
  }
}
.modal .modal-inner {
  padding: 40px;
}
.modal .button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  padding: 0;
  cursor: pointer;
  background-color: var(--pbg-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal .button-icon-close {
  color: #000000;
}
.modal .button-close .button-icon-close {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.modal .button-close:hover .button-icon-close {
  fill: var(--accent-color);
}
.modal .modal-title {
  color: var(--st-color);
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  padding-top: 0;
  padding: 0;
  margin: 0;
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
}
.form-field .form-field-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
}
.form-field .form-field-input {
  width: 100%;
  padding: 12px 42px;
  height: 40px;
  background-color: var(--pbg-color);
  border-radius: 4px;
  border: 1px solid var(--mb-color);
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}
.form-field .form-field-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.form-field .form-field-input ~ .icon {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}
.form-field .form-field-input:focus ~ .icon {
  fill: var(--accent-color);
}
.form-field .form-field-inner {
  position: relative;
}
.form-field .form-field-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.textarea {
  width: 100%;
  height: 120px;
  resize: none;
  border-radius: 4px;
  border: 1px solid var(--mb-color);
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
}
.textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.textarea .form-text::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.textarea .form-text::-moz-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.textarea .form-text:-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.textarea .form-text::-ms-input-placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.textarea .form-text::placeholder {
  font-size: 12px;
  line-height: 1.17;
  color: rgba(117, 117, 117, 0.5);
}
.textarea .form-text:focus {
  color: var(--st-color);
}

.form-accept {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px;
  /* checkbox*/
}
.form-accept .form-accept label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgb(117, 117, 117);
}
.form-accept .check-text {
  padding-left: 7px;
}
.form-accept .accept-link {
  color: rgb(33, 150, 243);
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}
.form-accept .checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.form-accept .checkbox-icon {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid var(--sb-color);
  width: 16px;
  height: 15px;
  border-radius: 2px;
}
.form-accept .checkbox:checked + .checkbox-icon {
  background-color: var(--accent-color);
  background-image: url("../images/icon-check-2.svg");
  background-origin: border-box;
  background-size: contain;
  border-color: var(--accent-color);
}

.modal-button-send {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.modal-button-send .button-send-modal {
  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--tt-color);
  background-color: var(--accent-color);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: none;
}/*# sourceMappingURL=main.css.map */