
.benefits {
    @media screen and (min-width: 480px) {
        padding-top: 45px;
        padding-bottom: 45px;    
    }
    @media screen and (min-width: 768px) {
        padding-top: 45px;
        padding-bottom: 45px;    
    }
    @media screen and (min-width: 1200px) {
        padding-top: 79px;
        padding-bottom: 79px;
    }
    font-weight: 400;
    line-height: 24px; 
    &__container {
        padding-left: 0;
        padding-right: 0;
    }
    &__list {
        margin: 0;
        padding: 0;
        @media screen and (min-width: 480px) {
        width: 100%;        
        }
        @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;        
        }
        @media screen and (min-width: 1200px) {
        display: flex;          
        }
    }
    &__item {
        margin-top: 0;        
        padding: 0;
        margin-bottom: 30px;        
        @media screen and (min-width: 480px) {
        flex-basis: 100%;
        padding: 15px;
        }        
        @media screen and (min-width: 768px) {
        flex-basis: 50%;
        padding: 15px;
        margin-bottom: 0;        
        }
        @media screen and (min-width: 1200px) {
        flex-basis: 25%;        
        }
    }
    &__item:last-child {
        margin-bottom: 0;
    }   
    &__icon {
        display: block;   
    }
    &__thumb {
        display: flex;
        justify-content: center;
        align-items: center;        
        height: 120px;
        border: 1px solid var(--secondary-background-color);
        border-radius: 4px;
        background-color: var(--secondary-background-color);
        margin-bottom: 30px;
        @media screen and (min-width: 480px) {
        width: 100%;        
        }
        @media screen and (min-width: 768px) {
        width: 100%;        
        }        
        @media screen and (min-width: 1200px) {
        
        }
    }
    &__example {
        padding: 0;
        margin-top: 0;
        margin-bottom: 10px;   
        font-weight: 700;
        font-size: 14px;
        line-height: 1.17;
        color: var(--secondary-text-color);
        text-transform: uppercase;
        text-align: center;
        @media screen and (min-width: 480px) {
        width: 100%;
        text-align: center;
        }        
        @media screen and (min-width: 768px) {
        width: 100%;
        text-align: start;
        }        
        @media screen and (min-width: 1200px) {        
        text-align: start;
        }
    }
    &__description {        
        font-weight: 400;
        line-height: 1.71;
        margin-bottom: 0;       
        @media screen and (min-width: 480px) {
        width: 100%;        
        }       
        @media screen and (min-width: 768px) {
        width: 100%;
        margin-bottom: 0;        
        }        
        @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        }
    }
}
