.control {
    padding-left: 0;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    list-style-type: none;
    color: var(--secondary-text-color);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 0;
    &__item {
        margin-right: 8px;
    }
    &__item:last-child {
        margin-right: 0;
    } 
    &__button {
        font-family: 'Roboto';
        background-color: var(--secondary-background-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.63;
        border: none;
        padding: 6px 22px;
        border-radius: 4px;
        transition: fill 250ms var(--timing-function), 
        background-color 250ms var(--timing-function),
        color 250ms var(--timing-function);            
    }
    &__button:hover,
    &__button:focus {
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
         0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12); 
        color: var(--third-text-color);
        cursor: pointer;    
    }
    &__button:focus {
        background-color: var(--accent-color);
        color: var(---third-text-color);    
    }__button:focus {
        background-color: var(--accent-color);
        color: var(---third-text-color);    
    }
}
