.gallery {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    &__item {
        border: 1px solid var(--bbt-clr);
        list-style-type: none;
        width: 370px;
        margin-right: 30px;
        margin-bottom: 30px; 
        &:hover {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 
            0px 4px 4px rgba(0, 0, 0, 0.06), 
            1px 4px 6px rgba(0, 0, 0, 0.16);
            cursor: pointer;    
        }  
        &:hover .gallery__text {
            transform: translateY(0);   
        }           
    }
    :nth-child(3n) {
        margin-right: 0;
    }
    :nth-child(3n) {
        margin-right: 0;
    }
    :nth-child(n + 7) {
        margin-bottom: 0;
    }
    &__link {
        text-decoration: none;           
    }
    &__img {
        display: block;
    }
    &__card { 
        padding: 20px 24px;
        border-right: 1px solid var(--bbt-color); 
        border-bottom: 1px solid var(--bbt-color);
        border-left: 1px solid var(--bbt-color); 
    }    
    &__overlay {
        position: relative;        
        overflow: hidden;
    }
    &__text { 
        position: absolute;        
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;  
        padding: 63px 24px; 
        background-color: var(--bgo-color);             
        color: var(--third-text-color);
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
        transform: translateY(100%);
        transition:  transform 250ms var(--timing-function);
    }
    &__projects {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em; 
        color: var(--secondary-text-color);
        margin: 0;
        margin-bottom: 4px;
    }    
    &__description2 {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        margin: 0; 
        letter-spacing: 0.03em;
        color: var(--primary-text-color);  
    }


}   