.footer {
    background-color: var(--tbg-color);
    padding: 0;
    padding-bottom: 60px;
    padding-top: 60px;
    &__container {
        text-align: center;
        @media (min-width: 1200px) {
            display: flex;
            justify-content: space-between;
            align-items: baseline;
            text-align: start;            
        }
    }
    &__aside {
        @media (min-width: 768px) {
            display: flex;
            justify-content: space-around;
        }        
    }
    &__contacts {
        margin-bottom: 60px;
        @media (min-width: 1200px) {
            margin-bottom: 0;       
        }
    }
    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        color: var(--accent-color);
        display: block;
        margin-bottom: 20px;
    }    
    &__accent {
        color: var(--tt-color);
    }
    &__list {
        margin: 0;
        padding-left: 0;
    }
    &__item {
        margin-bottom: 8px;
        @media (min-width: 1200px) {
            margin-bottom: 9px;
        }
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    &__location {
        margin-bottom: 0;
        line-height: 1.71;
        color: var(--tt-color);        
        transition: color, 250ms var(--timing-function);
    }
    &__location:hover {
        color: var(--accent-color);
    }
    &__location:focus {
        color: var(--accent-color);
    }
    &__mail {
        margin-bottom: 0;
        font-weight: 400;
        line-height: 1.71;
        color: var(--ft-color);
        text-decoration: none;
        font-style: normal;
        transition: color, 250ms var(--timing-function);
    }
    &__mail:hover {
        color: var(--accent-color);
    }
    &__mail:focus {
        color: var(--accent-color);
    }
    &__tel {
        line-height: 1.71;
        color: var(--ft-color);
        text-decoration: none;
        font-style: normal;
        transition: color, 250ms var(--timing-function);
    }
    &__tel:hover {
        color: var(--accent-color);
    }
    &__tel:focus {
        color: var(--accent-color);
    }
}

.social {
    padding: 0;
    margin-bottom: 60px; 
    display: block;
    text-align: center;
    @media (min-width: 1200px) {
        margin-bottom: 0;
        margin-left: 70px;
    }
    &__title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--tt-color);        
        @media screen and (min-width: 1200px) {
            margin-top: 12px;
            text-align: start;
        }
    }
    &__list {
        padding: 0;
        display: flex;
        justify-content: center;        
    }
    &__item {
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__item:last-child {
        margin-right: 0;        
    }
    &__link {
        border: 1px solid var(--tbg-color);        
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        position: relative;
        background: var(--icon-background-color);
        transition: fill 250ms var(--timing-function),
        background-color 250ms var(--timing-function),
        border 250ms var(--timing-function);
    }
    &__link:hover,
    &__link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    background-color: var(--accent-color);
    }
    &__list &__icon {
        fill: var(--tt-color);
    }
    &__list &__icon:hover &__icon-icon,
    &__list &__icon:focus &__icon-icon {
    fill: var(--tt-color);
    }
}

.subscribe {
    text-align: center;
    &__title {
        margin-bottom: 20px;
        font-weight:700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
        color: var(--tt-color);
        @media screen and (min-width: 1200px) {
            text-align: start;
            margin-top: 12px;
        }
    }
}
.submit {        
        @media (min-width: 1200px) {
        display: flex;
        justify-content: space-between;
        }    
    &__form input::placeholder {
        color: var(--fours-text-color);
        font-family: 'Roboto';
        font-style: 400;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.03em;
    }
    &__form input {
        min-width: 280px;
        min-height: 50px;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        border: 1px solid var(--bf-color);
        background-color: var(--tbg-color);
        margin: 0;
        padding-left: 16px;
        line-height: 1.25;
        color: var(--ft-color);
        display: inline;
        margin-bottom: 20px;
        @media (min-width: 480px) {
            min-width: 450px;
        }
        @media (min-width: 1200px) {
            margin-right: 12px;
            margin-bottom: 0;
            min-width: 358px;
        }
    }
    &__form label {
        color: rgba(117, 117, 117, 1);
    }
 }

.button__send {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 0;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
    font-family: 'Roboto';
    background-color: var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--tt-color);
    margin: 0 auto;
    display: inline-flex;
    cursor: pointer;
    border: none;
    justify-content: center;
    text-align: center;
    align-items: center;   
    .button__text {
        padding-right: 10px;
    }
    .button__icon {
        fill: var(--tt-color);
    }
}


